litellm
python-dotenv
fastapi
uvicorn[standard]
python-multipart
ultralytics
transformers==4.49.0
torch
torchvision
pillow
einops
timm
matplotlib
jupyter
ipykernel
opencv-python
supervision
huggingface-hub
easyocr
jinja2